.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #4a5662;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #515e63;
  border-color: #515e63;
  color: white;
}

.actions .button--alt {
  color: #4a5662;
}

.actions .button {
  background-color: #4a5662;
  color: white;
}

.orders {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #4A5662;
}

.hr{
  position: relative;
  margin-top: 1%;
  width: 70%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #4A5662, rgba(255, 255, 255, 0));
  
}

.ordersDiv{
display: flex;  
justify-content: space-evenly;
}
